body,html {
    height: 100%;
  }
  
.backstyle{
    background: url(../assets/back2.jpeg) 100% 100% no-repeat !important;
    background-size: cover !important;
    background-position: center;
    min-height: 100vh;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #032f5e !important;
}

.btn-primary{
    background-color: #09849a !important;
    border-color: #013f4a !important;
}